body {
  background-color: #333;
}
h1 {
  font-family: roboto;
  font-size: 65px;
  font-variant: small-caps;
  position: static;
  color: #fff;
}
h2 {
  font-family: roboto;
  font-size: 60px;
  font-variant: small-caps;
  letter-spacing: 1;
  position: static;
  color: #fff;
}
h3 {
  font-family: roboto;
  font-size: 20px;
  font-variant: small-caps;
  letter-spacing: 2;
  position: relative;
  color: #fff;
}
p {
  font-family: roboto;
  font-size: 30px;
  font-variant: small-caps;
  letter-spacing: 2;
  position: relative;
  color: #fff;
}
img {
  border-radius: 5%;
}
#container {
  border: 1px solid black;
  width: 1200px;
  height: 1500px;
  background: rgba(37, 37, 37, 0.45);
}
.aboutme {
  border-radius: 5%;
  width: 800px;
  height: 1200px;
  position: relative;
  background-color: #333;
  color: #fff;
}
.contact {
  border-radius: 5%;
  width: 800px;
  height: 850px;
  position: relative;
  background-color: rgba(51, 51, 51, 0.65);
  color: #fff;
}
.error {
  border-radius: 5%;
  width: 800px;
  height: 300px;
  position: relative;
  background-color: #333;
  color: #fff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #2E2E2E;
}

.active {
    background-color: #232020;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #2E2E2E;
	text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1C1C1C;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #1C1C1C}

.dropdown:hover .dropdown-content {
    display: block;
}
